/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Custom styles
- Navigation
- Hero
- Intro
- Work
*/

/* Custom styles */
body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, li{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p, li {
    font-size: 20px;
}
ul.work-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}
ul.work-list li {
    text-align: center;
    float: left;
    border-top: 1px solid #005387;
    color: #005387;
    list-style-type: none;
    margin-left: 10px;
    padding: 10px;
}
ul.work-list li:last-child {
    border-bottom: 1px solid #005387;
}
section {
    padding: 5rem 0 4rem 0;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}
section:last-child {
    padding: 2rem 0 2rem 0;
}
.reverse {
    color: #fff;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#hero.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}
.center-div {
    margin: 0 auto !important;
    float: none !important;
    text-align: center;
}
#hero input::placeholder {
    color: #fff;
}
#hero .icon-row a {
    color: #fff;
}
#hero .icon-row a:hover {
    color: #005387;
}
.underline {
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
/* Navigation */
nav li:not(:first-child) {
    display: none;
}
nav {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    top: 0;
}
nav ul {
    margin-bottom: 0;
}
nav li {
    padding: 0 20px;
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
}
.icon-row {
    color: #fff;
}
nav .icon-contact {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
nav .icon-row p {
    font-size: 16px;
    margin-bottom: 7px;
} 
nav .icon-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: #fff;
}
.nav-ham-active {
    width: 100vw;
    height: 100vw;
    background-color: #005387;
}
.sub-nav {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding-top: 7px;
    text-align: center;
    background-color: transparent;
    top: 0;
    color: #fff;
}
.sub-nav .sub-nav-home {
    position: absolute;
    left: 20px;
}
.sub-nav .sub-nav-back {
    position: absolute;
    right: 80px;
}
.sub-nav .sub-nav-next {
    position: absolute;
    right: 20px;
}
.sub-nav a {
    color: #fff;
}
.sub-nav.sub-nav-reverse {
    color: #005387;
    background-color: #fff;
    border-bottom: 2px solid #005387;
    top: 0;
    height: 60px;
}
.sub-nav.sub-nav-reverse a {
    color: #005387;
}

/* Hero */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}
.path-active {
    transition: stroke-dashoffset 2s ease-in-out !important;
}
#hero h1 {
    font-weight: 600;
    margin-bottom: 9px;
    font-size: 5VW;
}
#hero h2 {
    margin-top: 10px;
    font-size: 24px;
}
#hero {
    padding: 0;
}
.home #hero .container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 32%;
    background: #005387;
    width: 100%;
    padding-top: 10px;
}
.hero-logo {
    display: none;
}
#hero .icon-row {
    display: inline-block;
}
#hero .icon-row p {
    font-size: 42px;
    margin-bottom: 7px;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 64px;
} 
#hero .icon-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: #fff;
}
#hero .icon {
    display: none;
}
#hero .hero-img {
    right: auto;
    width: auto;
}

    
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*opacity: .4;
    background-color: #005387;*/
}

.new-build-landscaping #hero {
    background-image: url('../images/projects/new-build-landscaping-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.front-property-landscaping #hero {
    background-image: url('../images/projects/front-property-landscaping-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.asphalt-driveway #hero {
    background-image: url('../images/projects/asphalt-driveway.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.paved-courtyard #hero {
    background-image: url('../images/projects/paved-courtyard-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.ready-lawn #hero {
    background-image: url('../images/projects/ready-lawn-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.garden-path #hero {
    background-image: url('../images/projects/garden-path-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.call-to-action {
    background-color: #005387;
    box-sizing: border-box;
    display: none;
}
.call-to-action input {
    color: #fff;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 2px;
    font-size: 20px;
    margin: 0 5px;
    font-weight: 300;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #fff;
}
.call-to-action input::placeholder {
    color: #fff;
}
.call-to-action button {
    color: #fff;    
    border-color: #fff;
    font-weight: 300;
    margin-left: 5px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px 40px;
    margin-bottom: 10px;
}
.call-to-action form {
    margin-bottom: 0;
}
.call-to-action .columns {
    width: 100%;
}

/* reviews */
.owl-carousel {
    margin-top: 30px;
}
#reviews .owl-carousel .review-item { background: url('http://i47.tinypic.com/a9l0g3.png') top left no-repeat; padding-left: 55px; line-height: 18px; color: #005387; }
#reviews .owl-carousel .review-item p { padding-right: 35px; line-height: 18px; background: url('http://i48.tinypic.com/eb1yrr.png') bottom right no-repeat; padding-bottom: 15px; color: #333; font-size: 13px; }
.owl-nav {
    display: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #005387 !important;
}

/* Portfolio */
@media (min-width: 750px) {
    #projects .card.column {
   
        margin: 0;
    }
  
}

/* Contact */
.icon-row {
    text-align: center;
}

#projects .card a {
    float: left;
    color: #fff;
}

#projects .card figure {
    position: relative;
    overflow: hidden;
    margin: 3px;
    background: #333;
}

#projects .card figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#projects .card figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#projects .card figcaption h2 {
    margin: -40px 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

#projects .card figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

#projects .card figcaption h2,
#projects .card figcaption p {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

#projects .card figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

#projects .card figcaption,
#projects .card figcaption h2,
#projects .card figcaption p,
#projects .card figure button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* Style for SVG */
#projects .card svg {
    position: absolute;
    top: -1px; /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 50%;
    left: 0;
}

#projects .card svg path {
    fill: #005387;
    opacity: .8;
}

/* Hover effects */
#projects .card a:hover figure img {
    opacity: 1;
}

#projects .card a:hover figcaption h2,
#projects .card a:hover figcaption p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#projects .card a:hover figcaption p {
    opacity: 0;
}

/* Individual styles */
#projects .card figure button {
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
    transform: translateY(-50%) translateX(-50%) scale(0.25);
}
#projects .card a:hover figure button {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
}


#projects .card figcaption h2,
#projects .card figcaption p {
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

#projects .card a:hover figcaption p {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}


#projects .card figcaption h2 {
    color: #fff;
}

#projects .card a:hover figcaption h2 {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
#projects .owl-item {
    margin-right: 0 !important;
}


#services .container {
    padding-bottom: 30px;
}
#services .center {
    flex-direction: column;
}
#services {
    background: #005387;
    padding: 0;
}
#services a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
#services a:hover {
    text-decoration: underline;
}
.text {
    padding: 30px;
}
#contact {
    background: #005387;
    padding: 0;
}
#logos .center {
    flex-direction: column;
    margin-bottom: 20px;
}


/* Footer */
.footer-wrap {
    width: 100%;
    background-color: #005387;
    padding: 30px;
    box-sizing: border-box;
}
.footer-wrap p {
    color: #fff;
    margin-bottom: 0;
}
.footer-wrap li {
    color: #fff;
    list-style-type: none;
    font-size: 20px;
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .one-half {
        width: 100%;
    }
    .two-thirds {
        width: 80%;
    }
    
    .icon-row {
        text-align: left;
    }
    .icon-row p {
        display: inline-block;
    }
    .call-to-action {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    
    
}

/* Larger than tablet */
@media (min-width: 750px) {
    .one-half {
        width: 48%;
    }
    .two-thirds {
        width: 66%;
    }
    #contact .row {
        display: flex;
        align-items: center;
    }
    .icon-nav {
      display: none;
    }
    nav {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 10;
        padding-top: 20px;
        text-align: center;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        top: 0;
    }
    nav ul {
        margin-bottom: 0;
    }
    nav li {
        padding: 0 20px;
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
    }
    nav li:first-child {
        float: left;
    }
    nav li:not(:first-child) {
        float: right;
        padding-top: 11px;
        display: block;
    }
    nav a {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        position: relative;
    }
    nav a:hover,
    nav a.active {
        border-bottom: 3px solid #fff;
        padding-bottom: 18px;
        color: #fff;
    }
    .nav-reverse {
        animation: change-bg .5s;
        opacity: .8;
        background-color: #005387;
        padding-top: 10px;
        height: 77px;
    }
    .nav-reverse li {
        animation: change-navs .5s;
        width: 130px;
    }
    nav.nav-reverse a:hover,
    nav.nav-reverse a.active {
        padding-bottom: 15px;
    }
    #hero h1 {
        font-size: 4VW;
    }
    .call-to-action {
        background-color: transparent;
        box-sizing: border-box;
    }
    .home #hero .container {
        position: absolute;
        background: transparent;
        width: 80%;
    }
    #services .center {
        flex-direction: row;
    }
    #services .column {
        margin-left: 0;
        width: 50%;
    }
    #contact .column {
        margin-left: 0;
        width: 50%;
    }
    .text-left {
        text-align: right;
        padding-left: 20vw
    }
    .text-right {
        padding-left: 30px;
        padding-right: 10vw;
    }
    #hero .icon-row p {
        font-size: 52px;
    }
    .hero-logo {
        display: block;
        margin-bottom: 20px;    
    }
    #hero .icon {
        display: inline-block;
    }
    .icon-contact {
        margin-right: 30px;
        vertical-align: middle;
        width: 60px;
        height: 60px;
        top: -10px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    #hero .hero-img {
        width: 100%;
    }
}



/* General style */
#gallery {
    padding-top: 0;
}
#gallery .cell {
    background-size: cover;
}
.grid-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid-gallery figure {
    margin: 0;
}

.grid-gallery figure img {
    display: block;
    width: 100%;
}

.grid-gallery figcaption h3 {
    margin: 0;
    padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
    margin: 0;
}

/* Grid style */
.grid-wrap {
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1em 1.875em;
}

.grid {
    margin: 0 auto;
}

.grid li {
    width: 25%;
    float: left;
    cursor: pointer;
}

.grid figure {
    padding: 15px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.grid li:hover figure {
    opacity: 0.7;
}

.grid figcaption {
    background: #e4e4e4;
    padding: 25px;
}

/* Slideshow style */
.slideshow {
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.slideshow ul {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.slideshow ul.animatable li {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slideshow li {
    width: 660px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -330px;
    visibility: hidden;
}

.slideshow li.show {
    visibility: visible;
}

.slideshow li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.slideshow li.current:after {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 50px solid #fff;
    overflow: hidden;
}

.slideshow figcaption {
    padding-bottom: 20px;
}

.slideshow figcaption h3 {
    font-weight: 300;
    font-size: 200%;
}

/* Navigation */
.slideshow nav span {
    position: fixed;
    z-index: 1000;
    color: #59656c;
    text-align: center;
    padding: 3%;
    cursor: pointer;
    font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slideshow nav span.nav-next {
    right: 0;
}

.slideshow nav span.nav-close {
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    color: #31373a;
}

.icon:before,
.icon:after {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
    content: "\e601";
}

span.nav-next:before  {
    content: "\e600";
}

span.nav-close:before {
    content: "\e602";
}

/* Info on arrow key navigation */
.info-keys {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    font-size: 8px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.info-keys:before,
.info-keys:after {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

.info-keys:before {
    left: 10px;
    content: "\e603";
}

.info-keys:after {
    right: 10px;
    content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
    /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
    .grid li {
        width: 33.3%;
    }

    .slideshow li {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }

    .slideshow li figure img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    .slideshow nav span,
    .slideshow nav span.nav-close {
        font-size: 1.8em;
        padding: 0.3em;
    }

    .info-keys {
        display: none;
    }

}

@media screen and (max-width: 35em) {
    .grid li {
        width: 50%;
    }
}

@media screen and (max-width: 24em) {
    .grid li {
        width: 100%;
    }
}