/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Custom styles
- Navigation
- Hero
- Intro
- Work
*/

/* Custom styles */
body {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, li{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    font-size: 20px;
}
section {
    padding: 4rem 0 6rem 0;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}
section:last-child {
    padding: 4rem 0 4rem 0;
}
.reverse {
    color: #fff;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}
.center-div {
    margin: 0 auto !important;
    float: none !important;
    text-align: center;
}
.full-height {
    height: 100vh!important;
    width: 100%;
    padding: 0;
}
.underline {
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}
/* Navigation */
nav {
    display: none;
}
.icon-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: #fff;
}
.nav-ham-active {
    width: 100vw;
    height: 100vw;
    background-color: #005387;
}
.sub-nav {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding-top: 7px;
    text-align: center;
    background-color: transparent;
    top: 0;
    color: #fff;
}
.sub-nav .sub-nav-home {
    position: absolute;
    left: 20px;
}
.sub-nav .sub-nav-back {
    position: absolute;
    right: 80px;
}
.sub-nav .sub-nav-next {
    position: absolute;
    right: 20px;
}
.sub-nav a {
    color: #fff;
}
.sub-nav.sub-nav-reverse {
    color: #005387;
    background-color: #fff;
    border-bottom: 2px solid #005387;
    top: 0;
    height: 60px;
}
.sub-nav.sub-nav-reverse a {
    color: #005387;
}

/* Hero */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}
.path-active {
    transition: stroke-dashoffset 2s ease-in-out !important;
}
#hero h1 {
    font-weight: 600;
    margin-bottom: 9px;
}
#hero h2 {
    margin-top: 10px;
    font-size: 24px;
}
.home #hero {
    background-image: url('../images/projects/new-build-landscaping-hero.jpg');
    background-position: center center;
    background-size: cover;
}
.new-build-landscaping #hero {
    background-image: url('../images/projects/new-build-landscaping-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.front-property-landscaping #hero {
    background-image: url('../images/projects/front-property-landscaping-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.asphalt-driveway #hero {
    background-image: url('../images/projects/asphalt-driveway.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.paved-courtyard #hero {
    background-image: url('../images/projects/paved-courtyard-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.ready-lawn #hero {
    background-image: url('../images/projects/ready-lawn-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}
.garden-path #hero {
    background-image: url('../images/projects/garden-path-hero.jpg');
    background-position: center center;
    background-size: cover;
    max-height: 80vh;
}


/* Intro */


/* Portfolio */
@media (min-width: 750px) {
    #projects .one-third.column {
        width: 33.33333%;
        margin: 0;
    }
}

/* Contact */
.icon-row {
    text-align: center;
}

#projects .one-third a {
    float: left;
    color: #fff;
}

#projects .one-third figure {
    position: relative;
    overflow: hidden;
    margin: 3px;
    background: #333;
}

#projects .one-third figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#projects .one-third figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#projects .one-third figcaption h2 {
    margin: 0 0 20px 0;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 130%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

#projects .one-third figcaption p {
    padding: 0 20px;
    color: #aaa;
    font-weight: 300;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

#projects .one-third figcaption h2,
#projects .one-third figcaption p {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

#projects .one-third figure button {
    position: absolute;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

#projects .one-third figcaption,
#projects .one-third figcaption h2,
#projects .one-third figcaption p,
#projects .one-third figure button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* Style for SVG */
#projects .one-third svg {
    position: absolute;
    top: -1px; /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
}

#projects .one-third svg path {
    fill: #005387;
    opacity: .8;
}

/* Hover effects */
#projects .one-third a:hover figure img {
    opacity: 1;
}

#projects .one-third a:hover figcaption h2,
#projects .one-third a:hover figcaption p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#projects .one-third a:hover figcaption p {
    opacity: 0;
}

/* Individual styles */
#projects .one-third figure button {
    top: 50%;
    left: 50%;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
    transform: translateY(-50%) translateX(-50%) scale(0.25);
}
#projects .one-third a:hover figure button {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1);
}


#projects .one-third figcaption h2,
#projects .one-third figcaption p {
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
    timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
}

#projects .one-third a:hover figcaption p {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}


#projects .one-third figcaption h2 {
    color: #fff;
}

#projects .one-third a:hover figcaption h2 {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

/* Footer */
.footer-wrap {
    width: 100%;
    background-color: #005387;
    padding: 30px;
    box-sizing: border-box;
}
.footer-wrap p {
    color: #fff;
    margin-bottom: 0;
}
.footer-wrap li {
    color: #fff;
    list-style-type: none;
    font-size: 20px;
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .one-half {
        width: 100%;
    }
    .two-thirds {
        width: 80%;
    }
    .icon-contact {
        margin-right: 30px;
        vertical-align: middle;
    }
    .icon-row {
        text-align: left;
    }
    .icon-row p {
        display: inline-block;
    }

}

/* Larger than tablet */
@media (min-width: 750px) {
    .one-half {
        width: 48%;
    }
    .two-thirds {
        width: 66%;
    }
    #contact .row {
        display: flex;
        align-items: center;
    }
    #contact .icon-row {
        padding-left: 50px;
    }
    .icon-nav {
      display: none;
    }
    nav {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 10;
        padding-top: 30px;
        text-align: center;
        background-color: transparent;
        border-bottom: 2px solid #fff;
        top: 0;
    }
    nav li {
        padding: 0 10px;
        width: 200px;
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
    }
    nav a {
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        color: #fff;
    }
    nav a:hover,
    nav a.active {
        border-bottom: 3px solid #fff;
        padding-bottom: 34px;
        color: #fff;
    }
    .nav-reverse {
        animation: change-bg .5s;
        opacity: .8;
        background-color: #005387;
        padding-top: 10px;
        height: 43px;
    }
    .nav-reverse li {
        animation: change-navs .5s;
        width: 130px;
    }
    nav.nav-reverse a:hover,
    nav.nav-reverse a.active {
        padding-bottom: 15px;
    }

    @keyframes change-bg {
      0% {
        background-color: transparent;
        height: auto;
      }
      100% {
        background-color: #005387;
        height: 43px;
      }
    }
    @keyframes change-navs {
      0% {
        width: 200px;
      }
      100% {
        width: 130px;
      }
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}